<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
                <h3 class="text-muted">Linux User Administration</h3>
      </div>
      <hr/>
      {% if errors %}
      <div class="alert alert-danger">
	{{ errors }}
      </div>
      {% endif %}
      <form class="form-horizontal" action="." method="post">
                <div class="form-group">
                  <label for="actions" class="col-lg-2 control-label">Actions</label>
                  <div class="col-lg-3">
                    <input type="radio" name="action" value="create"> Create
                    <input type="radio" name="action" value="modify"> Modify
                    <input type="radio" name="action" value="delete"> Delete
                  </div>
                </div>
                <div class="form-group">
                  <label for="user_name" class="col-lg-2 control-label">User Name</label>
                  <div class="col-lg-2">
                    <input type="text" class="form-control" name="name" placeholder="UserName">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-2">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                </div>
               
                <div class="form-group">
                  <label for="homedir" class="col-lg-2 control-label">Home Directory</label>
                  <div class="col-lg-2">
                    <input type="text" class="form-control" name="home" placeholder="HomeDirectory">
                  </div>
                </div>
                <div class="form-group">
                  <label for="envtype" class="col-lg-2 control-label">Shell</label>
                  <div class="col-lg-2">
                   <select class="form-control" name="type" placeholder="shelltype">
                   <option value="/bin/bash">/bin/bash</option>
                   <option value="/bin/csh">/bin/csh</option>
                   <option value="/bin/ksh">/bin/ksh</option>
                   <option value="/bin/sh">/bin/sh</option>
                   <option value="/sbin/nologin">/sbin/nologin</option>
                   </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="sudo" class="col-lg-2 control-label">Sudo Previleges</label>
                  <div class="col-lg-2">
                    <input type="radio" name="sudo" value="yes"> Yes
                    <input type="radio" name="sudo" value="no"  checked="checked"> No
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </div>
                </div>
      </form>
    </div>
  </body>
</html>
