<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
	<h3 class="text-muted">Linux User Administration</h3>
      </div>
      <hr/>
      <h3>{{ data.action }} action taken.</h3>
      <table class="table">
	<tbody>
          <tr>
            <td>Action</td>
            <td>{{ data.action }}</td>
          </tr>

	  <tr>
	    <td>UserName</td>
	    <td>{{ data.username }}</td>
	  </tr>
	  <tr>
	    <td>Password</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Home dir</td>
	    <td>{{ data.homedir }}</td>
	  </tr>
	  <tr>
	    <td>Shell Type</td>
	    <td>{{ data.shelltype }}</td>
	  </tr>
	  <tr>
	    <td>Sudo Priviledges</td>
	    <td>{{ data.sudop }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </body>
</html>

